@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");

/* DEFAULTS */
/* ================================================================================= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;

  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

/* CARDS */
/* ================================================================================= */
.cards {
  display: flex;
  align-items: center;
  padding: 40px;
  overflow-x: scroll;
  min-height: 65vh;
}

.card {
  min-width: 300px;
  max-width: 300px;
  height: 400px;
  margin-left: -80px;
  border-radius: 40px;
  padding: 30px;

  box-shadow: -4px 4px 26px 2px hsla(184, 50%, 20%, 0.1);
  background: linear-gradient(
    to right bottom,
    hsl(0, 0%, 98%),
    hsl(0, 0%, 96%)
  );

  transition: all 0.3s;
  position: relative;
}

.card:first-child {
  margin-left: 0;
}

.card:hover,
.card:focus-within {
  transform: translateY(-20px);
}

.card:hover + .card,
.card:focus-within + .card {
  transform: translateX(80px);
}

.card-info {
  margin-bottom: 14px;
}

.card-info > span:first-child {
  margin-right: 6px;
}

.card-grad--video {
  color: transparent;
  background: linear-gradient(to right, hsl(91, 96%, 50%), hsl(159, 96%, 50%));
  -webkit-background-clip: text;
  background-clip: text;
}

.card-grad--shot {
  color: transparent;
  background: linear-gradient(to right, hsl(294, 96%, 50%), hsl(201, 96%, 50%));
  -webkit-background-clip: text;
  background-clip: text;
}

.card-info > span:last-child {
  color: hsl(0, 0%, 70%);
}

.card-heading {
  font-size: 1.6em;
}

.card-heading a:link {
  color: hsl(30, 50%, 40%);
  font-weight: bold;
  text-decoration: none;
}

.card-tags {
  display: flex;

  position: absolute;
  bottom: 50px;
  left: 30px;
}

.card-tag {
  color: hsl(0, 0%, 60%);
  padding: 5px 12px;
  border: 2px solid hsl(30, 40%, 70%);
  border-radius: 100px;
  text-transform: uppercase;
  margin-right: 10px;
  font-size: 0.9em;
}
